$theme: #3C3F41;

/* 布局 */
$sidebar-width: 210px;
$sidebar-background: #A4b79b;

$navbar-height: 30px;
$navbar-padding: 20px;
$header-height: 86px;
$reusetab-height: 40px;

$navbar-background: #BECCD8;
$appmain-background: #F9FAFB;
$header-background: #EEF4F9;
$right-side-font-color: #666666;
$reuse-tab-item-background: #FFFFFF;

$title-color: #FFFFFF;
$parent-title-color: #A4b79b;

$table-border-color: #dee2e6;

/* 菜单 */
$menuItem-hover: #97a675;
$menuItem-bg: #a4b798;
$submenu-title: #122150;
$menuItem-height: 50px;
